In [2]:
 #Task 1
import pandas as pd
import numpy as np
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'],'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )','12. Air France', '"Swiss Air"']})



df['FlightNumber'].fillna(value=df['FlightNumber'][0]+10, limit=1, inplace=True)
df['FlightNumber'].fillna(value=df['FlightNumber'][2]+10, limit=1, inplace=True)

df

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN       10055.0            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis       10075.0          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [3]:
df['FlightNumber'] = df['FlightNumber'].astype(np.int64)

In [4]:
df['FlightNumber'].dtype

dtype('int64')

In [5]:
##TASK 2

In [12]:
two_cols = pd.DataFrame(df['From_To'].str.split('_').to_list(), columns = ['From','To'])
two_cols

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [13]:
##TASK 3

In [14]:
two_cols['From'] = two_cols['From'].str.capitalize()
two_cols['To'] = two_cols['To'].str.capitalize()

In [15]:
two_cols

       From         To
0    London      Paris
1    Madrid      Milan
2    London  Stockholm
3  Budapest      Paris
4  Brussels     London

In [16]:
##TASK 4

In [17]:
df.drop(['From_To'], inplace=True, axis=1)
df

   FlightNumber  RecentDelays              Airline
0         10045      [23, 47]               KLM(!)
1         10055            []    <Air France> (12)
2         10065  [24, 43, 87]  (British Airways. )
3         10075          [13]       12. Air France
4         10085      [67, 32]          "Swiss Air"

In [18]:
df = pd.concat([two_cols, df], axis=1, sort=False)
df

       From         To  FlightNumber  RecentDelays              Airline
0    London      Paris         10045      [23, 47]               KLM(!)
1    Madrid      Milan         10055            []    <Air France> (12)
2    London  Stockholm         10065  [24, 43, 87]  (British Airways. )
3  Budapest      Paris         10075          [13]       12. Air France
4  Brussels     London         10085      [67, 32]          "Swiss Air"

In [19]:
##TASK 5

In [20]:
delays = pd.DataFrame(df['RecentDelays'].to_list(), columns = ['delay_1', 'delay_2', 'delay_3'])
delays

   delay_1  delay_2  delay_3
0     23.0     47.0      NaN
1      NaN      NaN      NaN
2     24.0     43.0     87.0
3     13.0      NaN      NaN
4     67.0     32.0      NaN

In [22]:
df.drop(['RecentDelays'], inplace=True, axis=1)
df

       From         To  FlightNumber              Airline
0    London      Paris         10045               KLM(!)
1    Madrid      Milan         10055    <Air France> (12)
2    London  Stockholm         10065  (British Airways. )
3  Budapest      Paris         10075       12. Air France
4  Brussels     London         10085          "Swiss Air"

In [24]:
df=pd.concat([df,delays],axis=1)

In [25]:
df

,From,To,FlightNumber,Airline,delay_1,delay_2,delay_3
0,London,Paris,10045,KLM(!),23.0,47.0,NaN
1,Madrid,Milan,10055,<Air France> (12),NaN,NaN,NaN
2,London,Stockholm,10065,(British Airways. ),24.0,43.0,87.0
3,Budapest,Paris,10075,12. Air France,13.0,NaN,NaN
4,Brussels,London,10085,"""Swiss Air""",67.0,32.0,NaN